h3{
color:orange;
}
span{
    color:orange;
}
.card{
    width:400px;
    border: 5px black solid;
    padding:10px;
    margin:10px;
    border-radius:5px;
}
/* #class img{
    width:100px;
    border-radius:25px;
} */
.card img {
    width: 100%;
    border-radius: 25px;
  }
  h4 {
    text-align: right;
    color: #3c787e;
  }
  #pet{
    display:flex;
    justify-content:space-evenly ;
  }
  @media(max-width:375.2px){
   #pet{
    flex-wrap: wrap;
   } 
  }